In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [14]:
listings = pd.read_csv('listings.csv')
print(listings.shape)
# print(listings.head())
print(listings.info())
print(listings.describe())

(75241, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75241 entries, 0 to 75240
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              75241 non-null  int64
 1   name                            75210 non-null  object
 2   host_id                         75241 non-null  int64
 3   host_name                       75235 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   75241 non-null  object
 6   latitude                        75241 non-null  float64
 7   longitude                       75241 non-null  float64
 8   room_type                       75241 non-null  object
 9   price                           75241 non-null  int64
 10  minimum_nights                  75241 non-null  int64
 11  number_of_reviews               75241 non-null  int64
 12  last_review                     56548 non-null  object
 13  reviews_per_month               56548 non-null  float64
 14  calculated_host_listings_count  75241 non-null  int64
 15  availability_365                75241 non-null  int64
 16  number_of_reviews_ltm           75241 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(5), int64(8), object(5)
memory usage: 10.3+ MB
None
                 id       host_id  neighbourhood_group      latitude  \
count  7.524100e+04  7.524100e+04                  0.0  75241.000000
mean   2.368628e+17  1.390765e+08                  NaN     51.509708
std    3.425911e+17  1.529621e+08                  NaN      0.048369
min    1.391300e+04  2.594000e+03                  NaN     51.295937
25%    1.981740e+07  1.995923e+07                  NaN     51.483540
50%    3.933875e+07  6.745519e+07                  NaN     51.513840
75%    6.562985e+17  2.248670e+08                  NaN     51.539450
max    8.463271e+17  5.050400e+08                  NaN     51.681142

          longitude         price  minimum_nights  number_of_reviews  \
count  75241.000000  75241.000000    75241.000000       75241.000000
mean      -0.128108    175.734453        5.750748          17.974668
std        0.099341    487.362025       24.240947          41.984021
min       -0.497800      0.000000        1.000000           0.000000
25%       -0.189390     60.000000        1.000000           1.000000
50%       -0.126280    100.000000        2.000000           4.000000
75%       -0.068460    180.000000        4.000000          17.000000
max        0.288570  70111.000000     1125.000000        1328.000000

       reviews_per_month  calculated_host_listings_count  availability_365  \
count       56548.000000                    75241.000000      75241.000000
mean            0.877064                       15.756689        113.073896
std             1.234003                       55.537579        132.687784
min             0.010000                        1.000000          0.000000
25%             0.130000                        1.000000          0.000000
50%             0.450000                        1.000000         47.000000
75%             1.090000                        5.000000        228.000000
max            51.050000                      501.000000        365.000000

       number_of_reviews_ltm  license
count           75241.000000      0.0
mean                5.736301      NaN
std                12.991805      NaN
min                 0.000000      NaN
25%                 0.000000      NaN
50%                 0.000000      NaN
75%                 6.000000      NaN
max               564.000000      NaN

In [16]:
print(listings.values)
print(listings.columns)
print(listings.index)

[[714569379355913481 'Lovely private bedroom in Muswell Hill.' 39009854
  ... 365 0 nan]
 [822557738577472503 'PropertyPlug - 2Bed Flat in Edgware SmartTV WiFi'
  325629338 ... 35 0 nan]
 [4876550 'Stunning Apartment 2 minutes walk to Tube Station' 25087384
  ... 337 0 nan]
 ...
 [9773320 'Spacious room for a Lady in London' 13938346 ... 0 0 nan]
 [15460327 'Entire house w Private Garden in cool East London' 56872646
  ... 0 0 nan]
 [17376717 'Notting Hill Pied-a-Terre' 117429579 ... 0 4 nan]]
Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')
RangeIndex(start=0, stop=75241, step=1)

In [24]:
listings_price_nights = listings[(listings['price'] != 0) & (listings['neighbourhood'].isin(['Croydon','Southwark']))].sort_values(["price", "minimum_nights"], ascending=[True, False])
listings_price_nights['min_price_of_stay'] = listings_price_nights['price'] * listings_price_nights['neighbourhood']
print(listings_price_nights.head())
# select one column df["col_a"]
# select multiple columns df[["col_a", "col_b"]]

             id                                               name    host_id  \
18494  23472846                                        Shared room  175198291
52624  36056861  Its oly 5-10 Mins walk to Croydon Shopping Centre  271248532
65602  43085423                                 Couch in Flatshare  341843255
61627  43113509                                 Couch in Flatshare  341843255
9022    8846530                 Double Room Short Let Peckham Â£250   46325950

        host_name  neighbourhood_group neighbourhood  latitude  longitude  \
18494     Krystal                  NaN       Croydon  51.35491   -0.06737
52624       Paran                  NaN       Croydon  51.37998   -0.09877
65602      Bobbie                  NaN       Croydon  51.36833   -0.10088
61627      Bobbie                  NaN       Croydon  51.36864   -0.09914
9022   Abdirahman                  NaN     Southwark  51.46515   -0.07261

          room_type  price  minimum_nights  number_of_reviews last_review  \
18494   Shared room      7               1                  0         NaN
52624  Private room     10             182                  0         NaN
65602   Shared room     10               5                  0         NaN
61627   Shared room     12               3                  0         NaN
9022   Private room     12               1                  0         NaN

       reviews_per_month  calculated_host_listings_count  availability_365  \
18494                NaN                               1                 0
52624                NaN                               1                57
65602                NaN                               3                 0
61627                NaN                               3                 0
9022                 NaN                               1                 0

       number_of_reviews_ltm  license  \
18494                      0      NaN
52624                      0      NaN
65602                      0      NaN
61627                      0      NaN
9022                       0      NaN

                                       min_price_of_stay
18494  CroydonCroydonCroydonCroydonCroydonCroydonCroydon
52624  CroydonCroydonCroydonCroydonCroydonCroydonCroy...
65602  CroydonCroydonCroydonCroydonCroydonCroydonCroy...
61627  CroydonCroydonCroydonCroydonCroydonCroydonCroy...
9022   SouthwarkSouthwarkSouthwarkSouthwarkSouthwarkS...

In [30]:
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(listings['price'].agg(iqr))
print(listings['price'].agg(np.min))
print(listings['price'].agg(np.median))
print(listings['price'].agg(np.mean))
print(listings['price'].agg(np.max))

120.0
0
100.0
175.7344532900945
70111